/*4K Laptop*/

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}
@media only screen and (max-width: 75em) {
    .carousel1__text {
        margin-right: -15rem;
        font-size: 2.2rem;
    }
    .nav, .slide1, .slide3 {
        padding-left: 8rem;
    }
    .carousel2__text {
        margin-left: -18rem;
    }
    .carousel3__text {
    font-size: 4rem;
    margin-right: -20rem;
    }
    .carousel3__text-1,
    .carousel3__text-2 {
        font-size: 4rem;
    }
    .carousel3__picture img {
        height: 80%;
        margin-top: 5rem;
    }
    
}


@media only screen and (max-width:62.5em) {

        html {
            font-size: 60%;
        }
        .section__features-heading {
            width: 70%;
        }
        .section__reach {
            padding-top: 6rem;
        }
        .information__container img,
        .information__container-min img {
            height: 5rem;
        }
        .carousel1__picture img {
            height: 105%;
        }
        .carousel1__text-2 {
            width: 70%;
        }
        .carousel1__square2,
        .carousel2__square2,
        .carousel3__square2 {
        left: 80%;
        }
        .carousel1__square4 {
            left: 30%;
        }
        .carousel1__circle {
            top: 10%;
            left: 30%;
        }
        .carousel1__square5{
            left: 80%;
        }
        .carousel__navigation {
            bottom: 20%;
        }
        .carousel2__text {
            margin-left: -12rem;
        }
        .carousel2__text-1 {
            width: 100%;
        }
        .carousel2__text-2 {
            margin-bottom: 2rem;
        }

        .more__distributors,
        .search {
            margin-left: 6rem;
        }
        .section__search {
            padding: 10rem 16rem;
        }
}
@media only screen and (max-width: 56.25em){
    .contentration1 {
        bottom: 11.5%;
    }
    .about__text p {
        width: 90%;
    }
    .section__reach {
        padding: 5rem;
    }
    .carousel1__text {
        margin-right: -10rem;
        font-size: 2.0rem;
    }
    .carousel1__text-2 {
        width: 80%;
    }
    .carousel2__picture img{
        width: 120%;
    }
    .carousel2__text {
        font-size: 2.2rem;
    }
    .carousel3__text {
        font-size: 3rem;
        margin-top: 7rem;
    }
    .carousel3__text-1,
    .carousel3__text-2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .carousel3__picture img {
        height: 60%;
        margin-right: -20rem;
    }
    .carousel4__picture img {
        width: 99%;
    }
    .carousel4__text {
        width: 60%;
        margin-top: 7rem;
    }
    .carousel4__text-1 {
        margin-bottom: 2.5rem;
    }
    .carousel4__text-2 {
        margin-bottom: 7rem;
    }
    .more__distributors,
    .search {
        margin-left: 5rem;
    }
    .section__search {
        padding: 10rem 12rem 4rem 12rem;
        background-size: 40%;
    }

}
@media only screen and (max-width: 50em) {

    html {
        font-size: 55%;
    }
    .contentration1 {
        bottom: 11%;
    }
    .information__container img,
    .information__container-min img {
        height: 4rem;
    }
    .testimony__video-cover,
    .video__ring {
        width: 100%;
    }
    .video__ring {
        left: 0%;
    }
    .video1 {
        transform: rotate(2deg);
    }
    .video2 {
        transform: rotate(-2deg);
    }
    .distributor__heading {
        width: 70%;
    }
    .information__container,
    .information__container-min {
        width: 90%;
    }
    .section__testimony--heading {
        width: 70%;
    }
    .navbar__list:not(:last-of-type) {
        margin-right: 5rem;
    }
    .nav img {
        margin-right: 5rem;
    }
    .nav, .slide1, .slide3 {
        padding-left: 6rem;
    }
    .section__about {
        padding: 10rem 6rem ;
        font-size: 1.5rem;
    }
    .carousel__navigation {
        bottom: 15%;
    }
    .carousel2__picture img{
        width: 130%;
    }


    .more__distributors,
    .search {
        margin-left: 4rem;
    }
    .section__search {
        padding: 10rem 8rem 3rem 8rem;
        background-size: 50%;
    }

}
@media only screen and (max-width: 45.7em) {
    .carousel1__picture img {
        margin-right: -25rem;
        width: 135%;
    }
    .carousel3__text {
        height: 100%;
        margin-right: -40rem;
        margin-top: 10rem;
    }
    .carousel3__text-2 {
        margin-bottom: 8rem;
    }
    .carousel3__picture img {
        height: 60%;
        margin-right: -28rem;
    }

}
@media only screen and (max-width: 40.6em ){
    
    html {
        font-size: 50%;
    }
    .section__features-heading {
        width: 90%;
    }
    .distributor__heading {
        width: 80%;
    }
    .nav, .slide1, .slide3 {
        padding-left: 3rem;
    }
    .information__container {
        width: 100%;
    }
    .section__testimony--heading {
        width: 80%;
    }
    .distributor__footer {
        width: 80%;
    }
    .pink__blur {
        width: 40rem;
        height: 40rem;
    }
    .carousel2__picture img{
        width: 135%;
        margin-left: -4rem;
    }

    .carousel3__text {
        height: 100%;
        margin-right: -30rem;
        margin-top: 10rem;
        font-size: 4rem;
    }
    .carousel3__text-1,
    .carousel3__text-2 {
        font-size: 4rem;
    }
    .carousel3__text-2 {
        margin-bottom: 10rem;
    }
    .carousel3__picture img {
        height: 60%;
        margin-right: -28rem;
    }
}


@media only screen and (max-width: 35em) {
    
    .section__carousel {
        min-height: 75vh;
    }
    .slide1 {
        background-image: linear-gradient(to top, #fff 1%, #fff 30%);
    }
    .carousel1__picture,
    .carousel1__blue__blur1,
    .carousel1__blue__blur2,
    .carousel1__square2,
    .carousel1__square4 {
        display: none;
    }
    .carousel1__square1,
    .carousel4__square2 {
        top: 65%;
        left: 10%;

    }
    .square__big {
        height: 6rem;
        width: 6rem;
    }
    .carousel1__square3,
    .carousel4__square3{
        left: 10%;
    }
    .carousel1__circle {
        left: 50%;
    }
    .carousel1__text {
        margin-right: 0;
        font-size: 2.8rem;
    }
    .carousel1__text-1 {
        margin-bottom: 3rem;
    }
    .carousel1__text-2 {
        width: 100%;
        margin-bottom: 4rem;
        font-size: 3rem;
    }
    /* .btn__all {
        padding: 2rem 3rem;
    } */
    
    /*Slide 2 Responsive code*/
    .slide2 {
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to right bottom, rgba(245, 180, 209, 0.6)0%, #fff 60%);
    }
    .carousel2__picture {
        width: 100%;
    }
    .carousel2__picture img {
        width: 90%;
        margin: 0 auto;
        align-self: center;
        margin-top: -5rem;
        padding-left: 10%;
    }
    .carousel2__text {
        margin: 0 1.5rem;
        padding: 0;
    }
    .carousel2__circle1 {
        left: 38%;
        top: 6%;
        height: 8rem;
        width: 8rem;
    }
    .carousel2__circle2,
    .carousel2__square2,
    .carousel2__square3,
    .carousel2__square5 {
        display: none;
    }
    .carousel2__square1 {
        top: 70%;
    }
    .carousel2__square4 {
        bottom: 80%;
        left: 5%;
    }
    .carousel2__square6 {
        bottom: 30%;
        right: 15%;
    }
    .carousel3__text {
        height: 100%;
        margin-right: -22rem;
        margin-top: 10rem;
        font-size: 5rem;
    }
    .slide3,
    .slide4 {
        background-image: linear-gradient(to bottom, #fff 0%, #fff 50%);
    }
    .carousel3__text-1,
    .carousel3__text-2 {
        font-size: 5rem;
    }
    .carousel3__text-2 {
        margin-bottom: 10rem;
    }
    .carousel3__picture img {
        width: 90%;
        margin-right: -45rem;
    }
    .carousel3__square2,
    .carousel3__square3,
    .carousel3__square4,
    .carousel3__square5,
    .carousel3__circle1,
    .carousel3__circle2,
    .carousel3__circle3 {
        display: none;
    }
    .carousel4__picture img {
        margin-top: 8rem;
        width: 100%;
        margin-right: -2rem;
    }
    .carousel4__text {
        font-size: 2rem;
        width: 65%;
        left: 4%;
        margin-top: 15rem;
    }
    .carousel4__text-2 {
        font-size: 2.5rem;
    }
    .carousel4__square4 {
        top: 50%;
        left: 70%;
    }
    .carousel4__circle1 {
        bottom: 90%;
        right: 50%;
    }
    .carousel4__circle2,
    .carousel4__circle3,
    .carousel4__circle4{
        display: none;
    }


    .carousel__navigation {
        bottom: 5%;
    }

    .section__features-content--first {
        display: none;
    }
    .features__picture-min {
        display: block;
    }
    .heading {
        font-size: 2.5rem;
    }
    .contentration2 {
        display: block;
    }
    .about__picture-min {
        display: block;
    }
    .about__picture {
        display: none;
    }
    .about__text {
        text-align: center;
    }
    .about__text p {
        width: 100%;
    }
    .section__features-content--second {
        text-align: center;
    }
    .section__features {
        padding: 7rem 5rem;
    }
    .section__reach {
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .section__reach--picture {
        margin: 0 auto;
        width: 100%;
    }
    .section__testimony {
        padding: 10rem 5rem;
    }
    .pink__blur {
        width: 30rem;
        height: 30rem;
        filter: blur(10rem);
        left: -15%;
    }
    .testimony1 {
        top: -13%;
    }
    .testimony3 {
        top: -11%;
    }
    .nav, .slide1, .slide3 {
        padding-left: 3rem;
    }
    .navbar__cover {
        display: none;
    }
    .small__navbar,
    .nav__circle,
    .nav__square1,
    .nav__square2,
    .nav__square3 {
        display: block;
    }




    .section__features-heading {
        width: 100%;
    }
    .distributor__heading {
        width: 100%;
    }
    .information__container {
        width: 100%;
    }
    .section__testimony--heading {
        width: 100%;
    }
    .distributor__footer {
        width: 100%;
    }


    .more__distributors,
    .search {
        margin-left: 3rem;
    }
    .section__search {
        padding: 10rem 4rem 1rem 4rem;
        background-size: 40%;
    }
    .dist__form {
        flex-direction: column;
    }
    .dist__circle,
    .dist__square{
    display: block;
    }
    #state,
    #town {
        margin-bottom: 2rem;
    }
    .search__button {
        display: none;;
    }
    .find__button {
        display: block;
    }
    .section__search {
        padding: 10rem 4rem 1rem 4rem;
        background-size: 60%;
    }
}
@media only screen and (max-width: 32em) {
    
    .information__container {
        display: none;
    }
    .information__container-min {
        display: block;
    }
    .testimony__video {
        width: 100%;
    }
    .nav, .slide1, .slide3 {
        padding-left: 2rem;
    }
    .carousel3__text-2 {
        font-size: 4.5rem;
    }
    .more__distributors,
    .search {
        margin-left: 1rem;
    }
    .section__search {
        padding: 10rem 3rem 1rem 3rem;
        background-size: 70%;
    }
}
@media only screen and (max-width: 28em) {
    
    .section__information {
        padding: 4rem 1rem;
    }
    .section__testimony,
    .section__about,
    .section__reach,
    .section__features {
        padding: 10rem 2rem;
    }
    .section__about {
        text-align: center;
    }
    .carousel3__text-1 {
        font-size: 4rem;
    }
    .carousel3__text-2 {
        font-size: 3rem;
    }
    .carousel4__text {
        font-size: 1.8rem;
    }
    .more__distributors,
    .search {
        margin-left: 0rem;
    }
    .section__search {
        padding: 10rem 2rem 1rem 2rem;
        background-size: 80%;
    }
}
@media only screen and (max-width: 25em) {
    .carousel1__text {
        font-size: 2.3rem;
    }
    .carousel1__text-1 {
        font-size: 2.5rem;
    }
    .carousel2__picture img {
        margin-top: 2rem;
    }
    .section__search {
        background-size: 100%;
    }
}
@media only screen and (max-width: 20em) {
    .carousel1__text {
        font-size: 2.3rem;
    }
}
